{% extends 'demo/base.html' %}
{% block content%}
  <div class="outer_container">
    <div class="row">
      <div class="contents">
        <div class="col-md-12">
          <div>
              <form class="" action="." method="post">
                <a href="{% url 'view_employee' %}">Back</a>
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleFormControlInput1">Full Name</label>
                  <input type="text" class="form-control" value="{{myData.full_name}}" id="exampleFormControlInput1" name="name">

                  <label for="exampleFormControlInput2">Project Name</label>
                  <input type="text" class="form-control" value="{{myData.project_name}}" id="exampleFormControlInput2" name="p_name">

                  <label for="exampleFormControlInput3">Appointment Date</label>
                  <input type="date" class="form-control" value="{{myData.appointment_date}}" id="exampleFormControlInput3" name="app_date">

                  <label for="exampleFormControlInput4">Salary</label>
                  <input type="number" class="form-control" value="{{myData.salary}}" id="exampleFormControlInput4" name="salary">

                  <label for="exampleFormControlInput5">Date of Contract</label>
                  <input type="date" class="form-control" value="{{myData.date_of_contract}}" id="exampleFormControlInput5" name="d_contract">

                  <label for="exampleFormControlInput6">End of Contract</label>
                  <input type="date" class="form-control" value="{{myData.end_of_contract}}" id="exampleFormControlInput6" name="e_contract">
                </div>
                <button class="btn btn-primary btn-block" type="submit" name="button">Save</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
